In [1]:
class Employee():
    pass

In [2]:
emp1=Employee()
emp2=Employee()

In [3]:
print(emp1)

<__main__.Employee object at 0x000002891F56CAD0>

In [4]:
print(emp2)

<__main__.Employee object at 0x000002891F56CC50>

In [12]:
emp1.fname="Aniket"#instance variables
emp1.lname="Patil"
emp1.salary=300000

emp2.fname="Ankit"
emp2.lname="Peters"
emp2.salary=200000

In [13]:
print(emp1.fname,emp1.lname,' ',emp1.salary)
print(emp2.fname,emp2.lname,' ',emp2.salary)

Aniket Patil   300000
Ankit Peters   200000

In [51]:
class Employee():
    def __init__(self,fname,lname,sal):
        self.fname=fname
        self.lname=lname
        self.sal=sal
    
    def show(self):
        print("Name: ",self.fname+" "+self.lname,' ',"\nSalary: ",self.sal)

In [52]:
emp1=Employee('Aniket','Patil',450000)

In [53]:
print(emp1.fname,emp1.lname,' ',emp1.sal)

Aniket Patil   450000

In [54]:
emp2=Employee('Anil','Patt',150000)
print(emp2.fname,emp2.lname,' ',emp2.sal)

Anil Patt   150000

In [55]:
emp1.show()

Name:  Aniket Patil
Salary:  450000

In [56]:
emp2.show()

Name:  Anil Patt
Salary:  150000

Encapsulation

In [63]:
class Employee():
    def __init__(self,fname,lname,sal):
        self.fname=fname
        self.lname=lname #public variable
        self.__sal=sal #Private varibale
    
    def show(self):
        print("Name: ",self.fname+" "+self.lname,' ',"\nSalary: ",self.__sal)

In [64]:
emp1=Employee('Aniket','Patil',450000)

In [65]:
print(emp1.fname,emp1.lname,' ',emp1.sal)# cant access salary directly as its private

AttributeError: 'Employee' object has no attribute 'sal'

In [66]:
emp1.show() #salary is accessible from a class method

Name:  Aniket Patil
Salary:  450000

Inheritnce

In [68]:
#Employee parent class
#Employee2 child class
class Employee2(Employee):
    pass

In [69]:
emp3=Employee2('Pam','Beesly',300000)

In [70]:
emp3.show()

Name:  Pam Beesly
Salary:  300000